<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A technical blog currently focusing on Java, Data Structures, and security."/>
  <meta name="author" content="Christopher Diehl"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <title>ShellCoder</title>

  <!-- Bootstrap Core CSS -->
  <link href="../static/css/bootstrap.min.css"  th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

  <!-- Custom CSS -->
  <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" />

</head>
<body>
  <!--Navbar-->
  <!-- Static navbar -->
  <div th:replace="tablet/navbar :: header">.. </div>
  <div class = "container-fluid">
    <div class="col-md-6" >
       <img src="../static/images/familySnow.jpg" th:src="@{images/familySnow.jpg}" alt="Cute couple picture" class="img-rounded img-responsive center-block aboutPic" />
    </div>
    <div class = "col-md-6">
      <h3>Software Developement and Student</h3>
      <p>I am a rising Junior with a passion for software development, living in the greater NYC area with my family. If interested, feel free to contact me regarding job opportunites as I am currently open to offers for a fall internship or co-op. In the future, I hope to pursue a career in cybersecurity or software development. Currently, I work full a grant management company called <a href="http://dullestech.com/">Dulles Tech</a> as a full stack developer working on a traditional java web app. In my free time, I work on various projects ranging from this blog to tinkering with pokemon red assembly code. There are two versions of this blog open source on my github. Feel free to download and set one up for yourself. The best way to get ahold of me is through my email: <i>diehl [dot] chris [at] rocketmail [dot] com</i>. 
      </p>
    </div>
  </div>
  <div th:replace="footer :: footer">..</div>
  </body>
  </html>