<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Christopher Diehl" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <title>ShellCoder</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!--Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css' />

  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet" />
  <script src="static/ckeditor/ckeditor.js" th:src="@{ckeditor/ckeditor.js}"></script>
  
</head>
<body>
  <!--Navbar-->
  <!-- Static navbar -->
  <div class = "page container-fluid">
    <div th:replace="mobile/navbar :: header">.. </div>
    <div id="content" class="col-md-8">
      <div class="container">

        <div class="form-horizontal">

          <div class="form-group">
            <div class="col-md-8">
              <form action = "#" th:action="@{/edit}" th:object="${bp}" method = "post">
              <h2>Title</h2>
              <label for="input" class="sr-only">Title</label>
              <input type="text" th:field="*{title}" th:value ="${bp.title}" class="form-control" placeholder="Title" required="required" autofocus="autofocus" />
              <h2>Tags</h2>
              <textarea type="text" th:field="*{tags}" th:value ="${bp.tags}" class="form-control" placeholder="Tags" required="required" />
              <label for="Blog post" class="sr-only">Blog Post</label>
              <h2>Summary</h2>
         <input type="text" th:field="*{summary}" th:value ="${bp.summary}" class="form-control" placeholder="summary" required="required" />
              <h2>Blog Body</h2>
              <textarea class="form-control" rows="6" th:field="*{body}" name="page" id="page" placeholder="What's up?" required="required"></textarea>
             <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#F6358A;">submit</button>
              <input type="hidden" th:field="*{author}" value="Emily" />
              <input type="hidden" th:field="*{id}" th:value="${bp.id}" />
              </form>
          </div>
          <aside class="col-md-4 guide">
            <div>
              <p> Love ya.<br />
              

              </p>
            </div>
          </aside>
            </div>


        </div>
      </div> <!-- /container -->

    </div>
  </div>

  <footer class="container-fluid">
   <center>
    <p>Copyright &copy; 2016 Christopher Diehl </p>
    <p><small>all rights reserved</small></p>
  </center>
</footer>
</body>

 <script>
       CKEDITOR.replace( 'page' );
     //  CKEDITOR.insertHtml([[${bp.body}]]);
  </script>

 
</html>
