<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="A tech blog containing software how-tos and the personal opinions of a software developer and student. "/>
  <meta name="author" content="Christopher Diehl"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <title>ShellCoder</title>

  <!-- Bootstrap Core CSS -->
  <link href="../static/css/bootstrap.min.css"  th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

  <!-- Custom CSS -->
  <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" />

</head>
<body>
  <!--Navbar-->
  <!-- Static navbar -->
  <div class = "page container-fluid">
    <div th:replace="mobile/navbar :: header">.. </div>
    <div class="col-md-2">
    </div>
    <div id="content" class="col-md-8">
          <article th:each="bp : ${BLOGS}" class = "blog_excerpt">
            <header>
              <h1><a class = "blog-title" th:href="@{'blogPost?getBlogId='+${bp.id}}" th:text="${bp.title}"></a></h1>
              <p th:text="${bp.summary}">Blog Summary</p>
            </header>
          </article>
    </div>
    <div class="col-md-2">
      <form  align="left" class="navbar-form navbar-left" role="search" th:action="@{/searchIndex}" method = "post">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Search By Title" />
        </div>
      </form> 
    </div>
  </div>

  <div th:replace="footer :: footer">..</div>
  </body>
  </html>
