<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A tech blog containing software how-tos and the personal opinions of a software developer and student. "/>
  <meta name="keywords" th:content="${bp.title}"/>
  <meta name="author" content="Christopher Diehl" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <title>ShellCoder</title>



  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet" />


</head>
<body>
  <!--Navbar-->
  <!-- Static navbar -->
  <div class = "page container-fluid">
   <div th:replace="navbar :: header">.. </div>
   <div class="col-md-1"> </div>
   <div id="content" class="col-md-8">
     <article>
      <header>
        <h1 class ="blog-header" th:text="${bp.title}"></h1>
        <p th:text="${bp.summary}"></p>
      </header>
      <p th:utext="${bp.body}"></p>
      <p th:text="${bp.author}"></p>
    </article>  
  </div>
  <div class="col-md-2"> </div>
</div>
<div id ="comments" class="container-fluid comments">
  <div class="row" th:each="ct: ${comments}">
    <div class="col-md-1"> </div>
    <div class="posted_comment col-md-8 img-rounded">
      <div class="row">
          <p> <span th:text="${ct.user}"> </span> said :</p>
      </div>
      <div class="row message img-rounded">
    	 <p>" <span th:text="${ct.message}"></span> "</p>
    	</div>
    </div>
  </div>
  <form method = "post" class="row" th:object="${comment}" th:action="@{/comment}">
    <div class="col-md-1"></div>
    <div class="form-group col-md-6">
 	  <label>Comment</label>
      <textarea class="form-control"  th:field="*{message}" rows ="3" name="Comment" >Comment </textarea>
    </div>
    <div class="form-group col-md-2">
      <label>Name</label>
      <input type="text" class="form-control"  th:field="*{user}" placeholder="Jane Doe" />
      <center><button type="submit" class="btn btn-comment btn-default">Submit</button></center>
    </div>
    <input type="hidden" th:value="${bp.id}" name="blogId"/>
  </form>
</div>
<div th:replace="footer :: footer">..</div>

</body>
</html>
